name: Lint

on: [push, pull_request]

jobs:
  test:
    runs-on: "ubuntu-latest"
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10"]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install and update Python dependencies on Python 3
      run: |
        python -m pip install --upgrade pip setuptools wheel
        python -m pip install --upgrade pyflakes flake8 
        pip install -e .
    - name: lint
      run: |
        flake8 --exclude known_imports,etc,__init__.py --select=F;
        flake8 --exclude known_imports,etc,__init__.py --select=F bin/*;
    - name: Self-tidy-import
      run: |
        ./bin/tidy-imports -d lib/python/ tests/
        
