name: Lint

on: [push, pull_request]

jobs:
  lint:
    runs-on: "ubuntu-latest"
    steps:
    - uses: actions/checkout@v5
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: 3.13
    - name: Install uv
      uses: astral-sh/setup-uv@v7
    - name: Install pyflyby
      run: |
        # Include build dependencies for run time; see
        # https://mesonbuild.com/meson-python/how-to-guides/editable-installs.html#build-dependencies
        # for details.
        uv pip install --system --break-system-packages meson-python meson ninja "pybind11>=2.10.4" "setuptools-scm>=8"
        uv pip install --system --break-system-packages --no-build-isolation -ve . --group lint
    - name: Mypy
      run: |
        uv run mypy lib/python --ignore-missing-imports
    - name: lint
      run: |
        uv run flake8 --exclude known_imports,etc,__init__.py --select=F;
        uv run flake8 --exclude known_imports,etc,__init__.py --select=F bin/*;
    - name: Self-tidy-import
      run: |
        uv run ./bin/tidy-imports -d lib/python/ tests/
